body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    /* 16px = 100% = 1em = 1rem*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

span {
    text-decoration: underline;
}

a {
    color: #e42e0d;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    text-decoration: none;
}

p {
    line-height: 2;
}

hr {
    border: dotted #2b3131 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto 60px;
}

.first-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: #fafbfb;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 25px;
    margin-top: 50px;
}

.pic {
    width: 18rem;
    margin: 100px 0 100px ;
}

.bottom-cloud {
    position: absolute;
    top: 70px;
    right: 200px;
}

.top-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.computer {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.Chess {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.subtitle {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 50px auto 90px auto;
    text-align: left;
    line-height: 200%;
}

.intro {
    width: 30%;
    margin: auto;
    padding-top: 25px;
}

.outro {
    width: 30%;
    margin: 20px auto 40px;

}

@media(max-width: 900px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .mountain {
        width: 350px;
    }

    .top-cloud {
        position: absolute;
        width: 100px;
        bottom: 180px;
        left: 20px;
    }

    .bottom-cloud {
        position: absolute;
        width: 100px;
        top: 50px;
        right: 50px;
    }

    h3 {
        font-size: 100%;
    }

    p {
        font-size: 12px;
    }

    .intro {
        width: 50%;
    }

    .Chess {
        width: 100px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .computer {
        width: 100px;
    }

    .skill-row {
        width: 70%;
    }

    .outro {
        width: 50%
    }

    .chess-h3 {
        font-size: 30px;
        padding-top: 35px;
    }

    p {
        clear: both;
    }
    
    .pic {
    width: 8rem;
    margin: 100px 0 100px;
}
}

@media(max-width:370px) {
    .mountain {
        width: 300px;
    }

    .top-cloud {
        bottom: 150px
    }

    h3 {
        font-size: 80%;
    }
}
