body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;                          /* 16px = 100% = 1em = 1rem*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

span{
    text-decoration: underline;
}

a{
    color: #e42e0d;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    text-decoration: none;
}

p{
    line-height: 2;
}

hr{
   border: dotted #2b3131 6px; 
   width: 4%;
   border-bottom: none;
   margin: 100px auto 60px;  
}

.first-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.middle-container{
    background-color: #fafbfb;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 25px;
    margin-top: 50px;
}

.pic{
    width: 300px;
    margin-top: 100px;
}

.bottom-cloud{
    position: absolute;
    top: 70px;
    right: 300px;
}
.top-cloud{
    position: absolute;
    left:300px;
    bottom:300px
}
.computer{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.Chess{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.btn:hover{
    background-color: gold;
}

.footer-link:hover{
    background-color: gold;
}

.subtitle{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 200%;
}

.intro{
    width: 30%;
    margin: auto;
}

.outro{
    width: 30%;
    margin: 20px auto 40px;
    
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
